{% extends "recipe/recipe_base.html" %}
{% load static %}

{% block content %}
  <div id="browse">
    <h1>{% if personal_page %}My{% else %}Browse{% endif %} Recipes</h1>
    {% for recipe in recipes %}
      <div class="recipeblock">
        <a href="{{ recipe.get_absolute_url }}">
          <img src="{% if recipe.picture %}{{ recipe.picture.url }}{% else %}{% static 'img/no_image_light.png' %}{% endif %}">
          <p>{{ recipe.title }}</p>
        </a>
      </div>
    {% empty %}
      <p>No recipes available.</p>
    {% endfor %}
  </div>

  {% include "pagination.html" with page=recipes %}

  <link href="{% static 'css/recipe/recipe.css' %}" rel="stylesheet">
{% endblock %}