{% extends "base.html" %}
{% load static %}

{% block title %}Recipes{% endblock %}

{% block sidebar %}
  <ul class="links">
    {% if user.is_authenticated %}
      <li>
        <a href="{% url 'recipe:recipe_create' %}">Create new recipe</a>
      </li>
    {% endif %}
    <li>
      <a href="{% url 'recipe:browse_all' %}">Browse recipes</a>
    </li>
  </ul>
{% endblock %}