{% extends "recipe/recipe_base.html" %}
{% load static %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
  <div class="recipe">
    <h1 class="title">{{ recipe.title }}</h1>
    <div class="image">
      <img src="{% if recipe.picture %}{{ recipe.picture.url }}{% else %}{% static 'img/no_image_dark.png' %}{% endif %}">
    </div>
    <div class="details">
      <p>Creator: {% if recipe.owner %}{{ recipe.owner.username }}{% else %}[deleted user]{% endif %}</p>
      <p>Make time: {{ recipe.make_time }}</p>
      <p>Number of servings: {{ recipe.servings }}</p>
      <span>
        {% for tag in recipe.tags.all %}
          <a href="#">{{ tag.name }}</a>
          {% if not forloop.last %}|{% endif %}
        {% endfor %}
      </span>
      {% if recipe.url %}
        <p><a href="{{ recipe.url }}" target="_blank">[Link]</a></p>
      {% endif %}
      {% if recipe.owner.username == user.username %}
        <span>
          <button class="edit">Edit Recipe</button>
          <button class="delete">Delete Recipe</button>
        </span>
        <div class="delete">
          <p>Are you sure you want to delete this recipe?</p>
          <button class="yes">Yes</button>
          <button class="no">Nevermind</button>
        </div>
      {% endif %}
    </div>
    <p class="description">{{ recipe.description }}</p>
    <div class="numbered">
      <h2>Ingredients</h2>
      <ol>
        {% for ingredient in recipe.ingredients.all %}
          <li>{{ ingredient }}</li>
        {% endfor %}
      </ol>
    </div>
    <div class="numbered">
      <h2>Instructions</h2>
      <ol>
        {% for instruction in recipe.instructions.all %}
          <li>{{ instruction.instruction }}</li>
        {% endfor %}
      </ol>
    </div>
    <p>Posted on {{ recipe.created }}, last updated {{ recipe.updated }}.</p>
  </div>

  <link href="{% static 'css/recipe/recipe.css' %}" rel="stylesheet">
  <script src="{% static 'scripts/recipe/detail.js' %}"></script>
{% endblock %}