{% extends "recipe/recipe_base.html" %}
{% load static %}

{% block title %}New Recipe{% endblock %}

{% block content %}
  <div class="recipe">
    <h1>New Recipe</h1> 
    <div id="main">
      <form>
        {% for field in recipe_form %}
          {% if field.field.required %}* {% endif %}
          {{ field.label_tag }}
          <br>
          {{ field }} 
          {% if field.label == 'Tags' %}<br><i>Separate tags with commas</i>{% endif %}
          <br><br>
        {% endfor %}
        {% csrf_token %}
      </form>
      <p>* Required</p>
    </div>
    <div class="create">
      <div id="instructions">
        <p>Instructions:</p>
        <form>
          {{ instruction_form.management_form }}
          {% csrf_token %}
          {% for form in instruction_form %}
            <div>
              {% for field in form %}
                {% if field.label == 'Instruction' %}
                  {{ field }}
                  <br>
                {% endif %}
                {% if field.label == 'Delete' or field.label == 'Id' %}
                  {{ field.label_tag }} {{ field }}
                  <br>
                {% endif %}
              {% endfor %}
              <br>
            </div>
          {% endfor %}
        </form>
        <button>New instruction</button>
      </div>
      <div id="instructions_empty">
        <div>
          {% with form=instruction_form.empty_form %}
            {% for field in form %}
              {% if field.label == 'Instruction' %}
                {{ field }}
                <br>
              {% endif %}
              {% if field.label == 'Delete' or field.label == 'Id' %}
                {{ field.label_tag }} {{ field }}
                <br>
              {% endif %}
            {% endfor %}
            <br>
          {% endwith %}
          </div>
      </div>
      <div id="ingredients">
        <p>Ingredients:</p>
          <form>
            {{ ingredient_form.management_form }}
            {% csrf_token %}
            {% for form in ingredient_form %}
              <div>
                {% for field in form %}
                  {{ field.label_tag }} 
                  <br>
                  {{ field }}
                  <br>
                {% endfor %}
                <br>
              </div>
            {% endfor %}
          </form>
        <button>New ingredient</button>
      </div>
      <div id="ingredients_empty">
        <div>
          {% with form=ingredient_form.empty_form %}
            {% for field in form %}
              {{ field.label_tag }}
              <br>
              {{ field }}
              <br>
            {% endfor %}
            <br>
          {% endwith %}
        </div>
      </div>
    </div>
    <p class="error"></p>
    <div class="submit">
      <form>
        {% csrf_token %}
        <input type="submit" value="Save Recipe">
      </form>
    </div>
  </div>

  <link href="{% static 'css/recipe/recipe.css' %}" rel="stylesheet">
  <script src="{% static 'scripts/recipe/create.js' %}"></script>
{% endblock %}