{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'img/logo.ico' %}" rel="icon">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <script src="{% static 'scripts/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'scripts/js.cookie.js' %}"></script>
    <script src="{% static 'scripts/base.js' %}"></script>
  </head>
  <body>
    <div id="header">
      <ul>
        <li><img src="{% static 'img/logo_trans.png' %}"></li>
        <li>
          <h1>
            <a href="{% url 'account:landing' %}">Massaman</a>
          </h1>
        </li>
        <div class="buttons">
          {% if request.user.is_authenticated %}
            <li>
              <a class="settings" href=""><img src="{% static 'img/settings_light.png' %}"></a>
            </li>
            <li>
              <a class="general" href="#"><img src="{% static 'img/menu_light.png' %}"></a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'account:authenticate' %}">Login/Register</a>
            </li>
          {% endif %}
          <li>
            <a href="#"><img src="{% static 'img/search_light.png' %}"></a>
          </li>
        </div>
      </ul>
    </div>
    <div class="menu settings">
      <ul class="links">
        <li>
          <a href="{% url 'account:settings' %}">Settings</a>
        </li>
        <li>
          <a href="#">Help</a>
        </li>
        <li>
          <a href="{% url 'account:logout' %}">Logout</a>
        </li>
      </ul>
    </div>
    <div class="menu general">
      <ul class="links">
        <li>
          <a href="{% url 'recipe:browse_mine' %}">My Recipes</a>
        </li>
        <li>
          <a href="{% url 'meal:meal_monthly' %}">My Meals</a>
        </li>
        <li>
          <a href="#">My Pantry</a>
        </li>
        <li>
          <a href="#">My Shopping List</a>
        </li>
      </ul>
    </div>
    <div id="sidebar">
      {% block sidebar %}{% endblock %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>