.meal_block {
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #c0690c;
    color: #fce6cf;
    width: 75%;
    
}

.meal_list a {
    color: #301a03;
    text-decoration: underline;
}

.meal_list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}