#calendar ul {
    list-style-type: none;
    width: calc(100vw - 280px);
    padding: 0;
    margin: 0;
    margin-left: 30px;
    
    text-align: left;
}

#calendar li {
    height: 10vh;
    width: 13.75%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 10px;
}

.months {
    margin-bottom: 15px;
}

.weekdays {
    background-color: #603506;
    color: #fce6cf;
}

.active {
    background-color: #c0690c;
    color: #fce6cf;
}