#landing {
    padding-top: 70px;
}

#landing ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
}

#landing .buttons li {
    display: inline;
    margin: 0px 30px;
    padding: 10px 20px;
    color:#fce6cf;
    background-color: #c0690c;
}