@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

body {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    background-color: #fce6cf;
    color: #301a03;
}

a {
    color: inherit;
    text-decoration: none;
}

#header {
    background-color: #603506;
    color: #fce6cf;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header .buttons li {
    padding: 5px 10px;
    float: right;
}

#header h1 {
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0px 10px;
}

#header img {
    float: left;
    height: 50px;
    width: 50px;
}

#header .buttons img {
    height: 30px;
    width: 30px;
}

#content {
    text-align: center;
    top: 50px;
    margin-top: 50px;
    padding: 10px;
    font-size: 3.5vmin;
}

input, button {
    font-size: inherit;
}

#content.offset {
    margin-left: 210px;
    padding-right: 0;
}

#sidebar {
    background-color: #c0690c;
    color: #fce6cf;
    position: fixed;
    left: 0px;
    top: 50px;
    width: 200px;
    height: 100%;
    padding: 10px;
}

ul.links li {
    padding-bottom: 10px;
}

ul.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

ul.links li:hover {
    font-size: 20px;
}

.menu {
    position: fixed;
    top: 50px;
    right: 0;
    background-color: #c0690c;
    color: #fce6cf;
    padding: 10px;
    padding-top: 20px;
    text-align: right;
}

.menu.settings {
    height: 120px;
    width: 100px;
}

.menu.general {
    height: 140px;
    width: 160px;
}

.error {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.success {
    color: green;
    font-size: 24px;
    font-style: italic;
}

form input[type='submit'] {
    font-size: 24px;
    background-color: #603506;
    color: #fce6cf;
    padding: 10px 20px;
}

form input[type='submit']:hover {
    background-color: #c0690c;
}

.pagination {
    color: #c0690c;
    margin-bottom: 50px;
}

.pagination .current, .pagination .dots {
    color: #603506;
}