{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1></h1>
  <p class="error"></p>
  <div id="login">
    <form action="{% url 'account:login' %}" method="post">
      {% for field in login_form %}
        {% if field.field.required %}* {% endif %}
        {{ field.label_tag }} {{ field }} <br><br>
      {% endfor %}
      {% csrf_token %}
      <p><input type="submit" value="Log in"></p>
    </form>
  </div>
  <div id="register">
    <form action="{% url 'account:register' %}" method="post">
      {% for field in register_form %}
        {% if field.field.required %}* {% endif %}
        {{ field.label_tag }}   {{ field }} <br><br>
      {% endfor %}
      {% csrf_token %}
      <p><input type="submit" value="Register"></p>
    </form>
  </div>
  <p>* Required</p>
  <a class="toggle"></a>
  
  <link href="{% static 'css/account/authenticate.css' %}" rel="stylesheet">
  <script src="{% static 'scripts/account/authenticate.js' %}"></script>
{% endblock %}