{% extends "base.html" %}
{% load static %}

{% block title %}Massaman{% endblock %}

{% block content %}
  <div id="landing">
    <img src="{% static 'img/logo_bg.png' %}" height=300px width=300px>
    <h1>Welcome to Massaman!</h1>
    <ul class="buttons">
      <li>
        <a href="{% url 'account:authenticate' %}">Login/Register</a>
      </li>
      <li>
        <a href="{% url 'recipe:browse_all' %}">Browse Recipes</a>
      </li>
    </ul>
  </div>
  
  <link href="{% static 'css/account/landing.css' %}" rel="stylesheet">
{% endblock %}