{% extends "base.html" %}
{% load static %}

{% block title %}Settings{% endblock %}

{% block sidebar %}
  <ul class="links">
    <li>
      <a href="">Account Settings</a>
    </li>
    <li>
      <a href="">Change Password</a>
    </li>
    <li>
      <a href="">Delete Account</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <h1></h1>
  <p class="error"></p>
  <div class="account">
    <form action="{% url 'account:change_settings' %}" method="post">
      {% for field in settings_form %}
        {{ field.label_tag }} {{ field }} <br><br>
      {% endfor %}
      {% csrf_token %}
      <p><input type="submit" value="Update Settings"></p>
    </form>
  </div>
  <div class="password">
    <form action="{% url 'account:change_password' %}" method="post">
      {% for field in password_change_form %}
        {{ field.label_tag }} {{ field }} <br><br>
      {% endfor %}
      {% csrf_token %}
      <p><input type="submit" value="Update Password"></p>
    </form>
  </div>
  <div class="delete">
    <p>We're sorry to see you go.</p>
    <p>To confirm your decision, please enter your password twice.</p>
    <form>
      {{ delete_account_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Delete Account"></p>
    </form>
  </div>
  <p class="success"></p>
  
  <script src="{% static 'scripts/account/settings.js' %}"></script>
{% endblock %}