{% if page.paginator.num_pages != 1 %}
  <div class="pagination">
    <span class="step-links">
      {% if page.has_previous %}
        <a href ="?page={{ page.previous_page_number }}">🡐</a>
        {% if page.previous_page_number != 1 %}
          <a href="?page=1">1</a>
          <span class="dots">{% if page.previous_page_number != 2 %} ... {% endif %}</span>
        {% endif %}
        <a href="?page={{ page.previous_page_number }}">{{ page.previous_page_number }}</a>
      {% endif %}
      <span class="current">{{ page.number }}</span>
      {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a>
        {% if page.next_page_number != page.paginator.num_pages %}
          <span class="dots">{% if page.next_page_number|add:"1" != page.paginator.num_pages %} ... {% endif %}</span>
          <a href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
        {% endif %}
        <a href="?page={{ page.next_page_number }}">🡒</a>
      {% endif %}
    </span>
  </div>
{% endif %}