{% extends "meal/meal_base.html" %}
{% load static %}

{% block content %}
  <div class="meal">
    <h1>New Meal</h1>
    <div id="main">
      <form>
        {% csrf_token %}
        {% for field in meal_form %}
          {% if field.label == 'When' %}* {% endif %}
          {{ field.label_tag }}
          <br>
          {{ field }}
          <br>
          <br>
        {% endfor %}
      </form>
      <button>Clear Recipes</button>
      <p>* Required</p>
    </div>
    <br>
    <div id="foods">
      <p>Other Foods:</p>
      <form>
        {{ food_form.management_form }}
        {% csrf_token %}
        {% for form in food_form %}
          <div>
            {% for field in form %}
              {{ field.label_tag }}
              <br>
              {{ field }}
              <br>
            {% endfor %}
            <br>
          </div>
        {% endfor %}
      </form>
      <button>New food</button>
    </div>
    <div id="foods_empty">
      <div>
        {% with form=food_form.empty_form %}
          {% for field in form %}
            {{ field.label_tag }}
            <br>
            {{ field }}
            <br>
          {% endfor %}
          <br>
        {% endwith %}
      </div>
    </div>
    <br>
    <p class="error"></p>
    <div class="submit">
      <form>
        {% csrf_token %}
        <input type="submit" value="Save Meal">
      </form>
    </div>
  </div>

  <script src="{% static 'scripts/jquery.datetimepicker.full.min.js' %}"></script>
  <link href="{% static 'css/jquery.datetimepicker.min.css' %}" rel="stylesheet">
  <script src="{% static 'scripts/meal/create.js' %}"></script>
{% endblock %}