{% load static %}

<div class="meal_list">
  {% for meal in meals %}
    <div class="meal_block" data-mid="{{ meal.id }}">
      <h2>{{ meal.when.date }} | {{ meal.when.time }}</h2>
      <h3>Recipes:</h3>
      <ul>
        {% for recipe in meal.recipes.all %}
          <li><a href="{{ recipe.get_absolute_url }}">{{ recipe }}</a></li>
        {% empty %}
          <li>No recipes</li>
        {% endfor %}
      </ul>
      <h3>Other foods:</h3>
      <ul>
        {% for food in meal.foods.all %}
          <li>{{ food }}</li>
        {% empty %}
          <li>No other foods</li>
        {% endfor %}
      </ul>
      {% if meal.comments %}
        <h3>Comments:</h3>
        {{ meal.comments }}
        <br>
      {% endif %}
      <br>
      <span>
        <button class="edit">Edit Meal</button>
        <button class="delete">Delete Meal</button>
      </span>
    </div>
  {% empty %}
    <p>No meals available.</p>
    <p>Why not <a href="{% url 'meal:meal_create' %}">create a new meal</a>?</p>
  {% endfor %}

  <div class="delete">
    <p>Are you sure you want to delete this recipe?</p>
    <button class="yes">Yes</button>
    <button class="no">Nevermind</button>
  </div>

  <link href="{% static 'css/meal/list.css' %}" rel="stylesheet">
  <script src="{% static 'scripts/meal/list.js' %}"></script>
</div>