{% extends "base.html" %}
{% load static %}

{% block title %}Meals{% endblock %}

{% block sidebar %}
  <ul class="links">
    <li>
      <a href="{% url 'meal:meal_create' %}">Create new meal</a>
    </li>
    <li>
      <a href="{% url 'meal:meal_monthly' %}">This month's meals</a>
    </li>
  </ul>
{% endblock %}