{% extends "meal/meal_base.html" %}
{% load static %}

{% block content %}
  <div id="calendar">
    <div class="months">
      <span><a id="prev_month">←</a></span>
      <span><a id="this_month"></a></span>
      <span><a id="next_month">→</a></span>
    </div>
    <ul class="weekdays">
      <li>Su</li>
      <li>M</li>
      <li>T</li>
      <li>W</li>
      <li>Th</li>
      <li>F</li>
      <li>Sa</li>
    </ul>
    <ul class="main">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li>15</li>
      <li>16</li>
      <li>17</li>
      <li>18</li>
      <li>19</li>
      <li>20</li>
      <li>21</li>
      <li>22</li>
      <li>23</li>
      <li>24</li>
      <li>25</li>
      <li>26</li>
      <li>27</li>
      <li>28</li>
      <li>29</li>
      <li>30</li>
      <li>31</li>
    </ul>
  </div>

  <link href="{% static 'css/meal/month.css' %}" rel="stylesheet">
  <script src="{% static 'scripts/jquery-ui.min.js' %}"></script>
  <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
  <script src="{% static 'scripts/meal/month.js' %}"></script>
{% endblock %}