{% extends "meal/meal_base.html" %}
{% load static %}

{% block content %}
  <h1>{{ month }} {{ year }}</h1>
  {% include "meal/list.html" with meals=meals %}

  <script>
    // Change header to reflect actual month name
    $(function() {
      let date = $('#content h1').text().split(" ");
      let month = monthName(parseInt(date[0]));
      $('#content h1').text("Monthly Meals | " + month + " " + date[1]);
    });
  </script>
{% endblock %}