/* Recipe browsing */

.recipeblock {
    width: 200px;
    display: inline-block;
    background-color: #c0690c;
    color: #fce6cf;
    margin: 40px 20px;
    padding: 25px;
    vertical-align: middle;
}

/* Recipe detail */

.recipeblock img {
    width: 200px;
}

.recipe .title {
    background-color: #c0690c;
    color: #fce6cf;
    padding: 5vmin;
    width: 70%;
    margin: 0 10%;
}

.recipe img {
    width: 100%;
}

.recipe table {
    margin: 5%;
    width: 90%;
}

.recipe td {
    padding: 2.5%;
    width: 45%;
}

.description {
    padding: 0 10%;
    font-style: italic;
}

.numbered {
    background-color: #c0690c;
    color: #fce6cf;
    width: 60%;
    margin: 5% 15%;
    padding: 2.5% 5%;
    text-align: left;
}

.numbered li {
    padding: 2.5% 0;
}

/* For recipe create/edit & recipe detail pages */
#instructions, #ingredients, .recipe .image, .recipe .details {
    width: 45%;
    display: inline-block;
}

.recipe .create div {
    vertical-align: top;
}

.recipe .image, .recipe .details {
    vertical-align: middle;
}